    <html>
        <head>
            <title>Bolita's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Boli galleta</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">La la la Bolita La</a></h2>
                <p>laaaaa bolita laaaaa, la la la, bolita la.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Bolito extraña bolita</a></h2>
                <p>I miss you.</p>
            </div>
        </body>
    </html>